workflow:
  name: "Deploy a simple Node.js app to Docker Hub"
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^feature/'

stages:
  - test
  - build
  - scan
  - deploy

variables:
  DOCKER_IMAGE_NAME: "nodejs-app"
  DOCKER_REGISTRY: "docker.io"
  docker_username: Comfort12345@
  docker_password: rukevweubio
  IMAGE_TAG_SHORT: "$DOCKER_REGISTRY/$DOCKER_USERNAME/$DOCKER_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
  IMAGE_TAG_LATEST: "$DOCKER_REGISTRY/$DOCKER_USERNAME/$DOCKER_IMAGE_NAME:latest"

include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml

test_job:
  stage: test
  image: node:18
  before_script:
    - echo "Installing Node.js dependencies"
    - ls -l 
    - mv Node.js server.js || true # Only if needed; ensure this step is correct
    - npm install
    - npm ci
  script:
    - ls -l
    - npm test

docker_build_and_push:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Logging into Docker Hub"
    - echo "$docker_password" | docker login -u "$docker_username" --password-stdin

    - echo "Building Docker image"
    - docker build -t $IMAGE_TAG_SHORT -t $IMAGE_TAG_LATEST .

    - echo "Pushing Docker images to Docker Hub"
    - docker push $IMAGE_TAG_SHORT
    - docker push $IMAGE_TAG_LATEST

    - echo "Saving Docker image as tar for downstream jobs"
    - docker save $IMAGE_TAG_SHORT > docker_image.tar

  artifacts:
    paths:
      - docker_image.tar
    when: on_success
    expire_in: 3 days

container_scanning:
  stage: scan
  variables:
    CS_IMAGE: "$DOCKER_REGISTRY/$DOCKER_USERNAME/$DOCKER_IMAGE_NAME:latest"
  needs:
    - docker_build_and_push

deploy_to_gitlab_registry:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Logging into GitLab Container Registry"
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

    - echo "Loading Docker image from tar"
    - docker load < docker_image.tar

    - echo "Tagging image for GitLab registry"
    - docker tag $IMAGE_TAG_LATEST $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $IMAGE_TAG_LATEST $CI_REGISTRY_IMAGE:latest

    - echo "Pushing image to GitLab Container Registry"
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest

