workflow:
  name: "Deploy a simple Node.js app to Docker Hub"
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^feature/'

stages:
  - test
  - build
  - scan
  - deploy

variables:
  DOCKER_IMAGE: nodejs-app
  DOCKER_REGISTRY: docker.io
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  LATEST_TAG: $CI_REGISTRY_IMAGE:latest
  docker_password: $docker_password
  docker_username: $docker_username


include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml


test_job:
  stage: test
  image: node:18
  before_script:
    - echo "Installing Node.js dependencies"
    - ls -l 
    - mv Node.js server.js
    - npm install
    - npm ci

  script:
    - ls -l
    - npm test

docker_deploy:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "Build the docker image to deploy the image"
  script:
      - echo "Docker build the image and push it to Docker Hub"
      - echo "$docker_password" | docker login -u "$docker_username" --password-stdin
      - docker build -t $DOCKER_IMAGE .
      - echo "The docker image built successfully"
      - docker tag $DOCKER_IMAGE docker.io/$docker_username/$DOCKER_IMAGE:latest
      - docker save $DOCKER_IMAGE > docker_image.tar
      - echo "The docker image saved successfully"

  artifacts:
    paths:
      - docker_image.tar
    when: on_success
    expire_in: 3 days

docker_build:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

  script:
    - echo "Loading the docker image from tar file"
    - docker load < docker_image.tar
    - echo "Image loaded successfully"
    - docker images
    - IMAGE_ID=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep -v REPOSITORY | head -1)
    - echo "Tagging image for GitLab registry"
    - docker tag $IMAGE_ID $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag $IMAGE_ID $CI_REGISTRY_IMAGE:latest
    - echo "Pushing image to GitLab Container Registry"
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest

  artifacts:
    paths:
      - docker_image.tar
    when: on_success
    expire_in: 3 days

container_scanning:
  stage: scan
  variables:
    CS_IMAGE: $CI_REGISTRY_IMAGE/$CI_REGISTRY_IMAGE:latest
